:root {
    --light-shades: #F0F0F0; /* GALLERY */
    --light-accent: #57E3F5; /* MALIBU */
    --main-brand-color: #DEEC7D; /* MANZ */
    --dark-accent: #F086CE; /* LAVENDER MAGENTA */
    --dark-shades: #292929; /* MINE SHAFT */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(var(--dark-shades) 70%, #1b1b1b);
    color: var(--light-shades);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

